<!doctype html>
<html>
  <head>
  <meta charset="utf-8">
  <title>Michael Barreiro HTML/CSS intro</title>
  </head>
  <body>
    <header>All about cats</header>
    <nav>
      <a href="/">Home Page</a>
      <a href="/dogs">Dogs page</a>
    </nav>

      <img src="http://15pictures.com/wp-content/gallery/15-pictures-lions/lions-1.jpg">
      <img src="http://cdn.theanimals.pics/pictures/wallpoper.com/images/00/40/77/25/jungle-animals_00407725.jpg">
      <img src="http://onebigphoto.com/uploads/2013/07/say-aaahhh-big-tiger.jpg">
      <img src="/img/girlandtiger">
      <iframe width="420" height="315" src="//www.youtube.com/embed/Uo0F1YEYU1U" frameborder="0" allowfullscreen></iframe>

    <footer>
      <small>(c)2014 <strong>NSS <em>Cohort</em> 6</strong></small>
    </footer>

  </body>


</html>doctype
