
<!doctype html>
<html>
  <head>
  <meta charset="utf-8">
  <title>Michael Barreiro HTML/CSS intro</title>
  </head>
  <body>
    <header>All about dogs</header>
    <nav>
      <a href="/">Home Page</a>
      <a href="/cats">Cats page</a>
    </nav>

      <img src="http://www.picshunger.com/wp-content/uploads/2014/05/Kitten-Or-Puppy.jpg">
      <img src="http://static.squarespace.com/static/51bb55bbe4b047ddeb606821/51bfec32e4b023ba9ab6ccb4/51c3d4cfe4b0e47ad1b7f91a/1396551246063/?format=1000w">
      <img src="http://cdn.cutestpaw.com/wp-content/uploads/2011/11/Two-Litte-Dog-l.jpg">

    <footer>
      <small>(c)2014 <strong>NSS <em>Cohort</em> 6</strong></small>
    </footer>

  </body>


</html>doctype
