<!doctype html>
<html>
  <head>
  <meta charset="utf-8">
  <title>Michael Barreiro HTML/CSS intro</title>
  </head>
  <body>
    <header>My Header</header>
    <nav>
      <a href="/">Home Page</a>
      <a href="/dogs">Dogs page</a>
      <a href="/cats">Cats page</a>
      <a href="/ninja">Ninja pages</a>
      <a href="/pirates">Pirate page</a>

    </nav>
    <h1>My header</h1>
    <article>
      <h2>Toy Story</h2>
        <p>Toy story is a reallyy funny movie!</p>
          <img src="http://2.bp.blogspot.com/-WJFBUq6UhWA/T10POVvWIzI/AAAAAAAALPo/Ga1HD0S7bfs/s1600/toys+%252866%2529.png">
          <a href="http://toystory.disney.com/">click here! to go to Toy Story site!!</a>
          <iframe width="560" height="315" src="//www.youtube.com/embed/eDZWOaiSZ2I" frameborder="0" allowfullscreen></iframe>
        <h2>Article Header</h2>
      <p>This is my paragraph</p>
    </article>
    <footer>
      <small>(c)2014 <strong>NSS <em>Cohort</em> 6</strong></small>
    </footer>

  </body>


</html>

