<!doctype html>
<html>
  <head>
  <meta charset="utf-8">
  <title>Michael Barreiro HTML/CSS intro</title>
  </head>
  <body>
    <header>All about dogs</header>
    <nav>
      <a href="/">Home Page</a>
      <a href="/dogs">Dogs page</a>
      <a href="/cats">Cats page</a>
    </nav>
      <img src="/img/Cartoonninja">
      <img src="/img/turtles">
      <img src="/img/ninja.jpg">


    <footer>
      <small>(c)2014 <strong>NSS <em>Cohort</em> 6</strong></small>
    </footer>

  </body>


</html>doctype
